@charset "UTF-8";
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: white;
  border: none;
}

.highlight {
  color: red;
}

.owl-carousel .owl-stage {
  display: flex;
}
.owl-carousel .owl-item {
  display: flex;
  flex: 1 0 auto;
}

.jumbotron .container {
  width: 100%;
  padding: 0;
  min-width: 350px;
}

.to-outside-link {
  background: #f6e3ff;
  background: linear-gradient(320deg, #f6e3ff 0%, white 100%);
}
.to-outside-link .btn {
  width: 100%;
}

.tokio {
  padding: 4vh 0;
  font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "ＭＳ Ｐ明朝", MS PMincho, serif;
  background: #ccd9f0;
  background: linear-gradient(320deg, #ccd9f0 0%, white 100%);
}
.tokio .inner {
  text-align: center;
  padding-bottom: 30px;
}
.tokio .inner h3 {
  font-size: 1.5em;
}
.tokio .inner h3 span {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 8px;
}
.tokio .inner p {
  font-size: 1.25em;
  margin: 30px auto;
}
.tokio .inner a {
  background: black;
  padding: 10px 20px;
  color: white;
}
.tokio .embed-video video {
  width: 100% !important;
  height: auto !important;
  border: 1px solid #9a9a9a;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
}

section {
  font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "ＭＳ Ｐ明朝", MS PMincho, serif;
  padding: 6vh 0;
}

.section01 {
  background: #f4f4f4;
  background: linear-gradient(320deg, #f4f4f4 0%, #dddddd 100%);
}
.section01 .section01-title {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.section01 .section01-title p {
  line-height: 2em;
}

.test {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test #videoBG {
  z-index: 0;
  width: 100%;
  /*height:100%;*/
  aspect-ratio: 16/9;
}
.test .video-text {
  z-index: 2;
  font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "ＭＳ Ｐ明朝", MS PMincho, serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test .video-text .inner .about p {
  font-size: 1em;
  line-height: 2em;
}

.section06 .container .subscription {
  box-shadow: 1px 3px 6px rgba(25, 25, 25, 0.6);
  margin: 5vh auto;
  padding: 20px 30px;
}
.section06 .container .subscription h6 {
  font-size: 1.25em;
}
.section06 .container .subscription h6 span {
  background: slategrey;
  padding: 5px 20px;
  color: white;
}
.section06 .container .subscription h5 {
  font-size: 0.9em;
}
.section06 .container .subscription h5 span {
  padding: 5px 20px;
}
.section06 .container .subscription .subscription-course .item-1 {
  padding: 0 20px;
  text-align: center;
}
.section06 .container .subscription .subscription-course .item-2 {
  padding: 0 20px;
  text-align: center;
}
.section06 .container .subscription .subscription-course .item-3 {
  padding: 0 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.section06 .container .subscription .subscription-course .item-3 .information p {
  font-size: 1em;
  padding-bottom: 3px;
  border-bottom: 1px #9a9a9a solid;
}
.section06 .container .subscription .subscription-course .item-3 .information p span {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: line-through;
  padding: 0 3px;
}
.section06 .container .subscription .subscription-course .item-3 .information h3 {
  font-size: 2em;
  font-weight: bold;
  color: #B51423;
}
.section06 .container .subscription .subscription-course .item-3 .information h3 span {
  font-size: 0.75em;
}
.section06 .container .subscription .subscription-course .item-3 .information h4 {
  font-size: 1.1em;
}
.section06 .container .subscription .subscription-course .item-3 .information h4 span {
  font-size: 1.25em;
  padding: 0 3px;
}
.section06 .container .subscription .subscription-course .item-3 .information p.small {
  font-size: 0.9em;
  border-bottom: none;
}
.section06 .container .trial-course {
  text-align: center;
  box-shadow: 1px 3px 6px #9a9a9a;
  padding: 3vh 0;
}
.section06 .container .trial-course h6 {
  font-size: 1.5em;
}
.section06 .container .trial-course h6 span {
  background: #708090;
  padding: 3px 10px;
  color: #fff;
}
.section06 .container .trial-course .price h4 {
  color: #B51423;
  font-size: 2.5em;
}
.section06 .container .trial-course .price h4 span {
  font-size: 0.75em;
}
.section06 .container .trial-course .price p {
  font-size: 1.25em;
}
.section06 .container .trial-course .price p span {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 3px;
}

.section05 .card {
  position: relative;
  text-align: center;
}
.section05 .card .card-body .card-title {
  font-size: 1.25em;
}
.section05 .card .card-body h4 {
  font-size: 1em;
  font-weight: normal;
}
.section05 .card .card-body h4 span {
  font-size: 1.5em;
}
.section05 .card .card-body h3 {
  font-size: 1.25em;
  font-weight: normal;
}
.section05 .card .card-body h3 span {
  font-size: 1.5em;
  color: #B51423;
}
.section05 .card .subscription {
  position: absolute;
  top: 2%;
  left: 3%;
  background: #B51423;
  padding: 0 5px;
  font-size: 1.5em;
  color: #fff;
}

footer {
  border-top: 1px dotted #9a9a9a;
  background: #f8f0e3;
}
footer .footer-contents ul {
  list-style: none;
}
footer .footer-contents ul li {
  font-size: 0.7em;
  text-align: center;
}
footer .footer-contents p {
  font-size: 0.7em;
}

@media screen and (max-width: 992px) {
  .test {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test #videoBG {
    z-index: 0;
    width: 100%;
    /*height:100%;*/
    aspect-ratio: 16/9;
  }
  .test .video-text {
    z-index: 2;
    font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "ＭＳ Ｐ明朝", MS PMincho, serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test .video-text .inner .about p {
    font-size: 0.8em;
    line-height: 2em;
  }
}
@media screen and (max-width: 1200px) {
  .section06 .container {
    width: 100%;
    max-width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .section06 .container .subscription-course .item-3 {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .test {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test .video-text {
    z-index: 2;
    font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "ＭＳ Ｐ明朝", MS PMincho, serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
  }
  .test .video-text .section02-text .inner .img-area .img {
    background: #f8f0e3;
  }
  .test .video-text .section02-text .inner .about p {
    font-size: 1em;
    line-height: 2em;
  }
  .test #videoBG {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .video .video-text .inner h3 {
    font-size: 1.25em;
  }
  .video .video-text .inner p {
    font-size: 1em;
  }

  .section01 .section01-title p {
    font-size: 0.8em;
  }

  .tokio .inner h3 {
    font-size: 1.1em;
  }
  .tokio .inner p, .tokio .inner a {
    font-size: 0.9em;
  }

  .test {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test .video-text {
    z-index: 2;
    font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "ＭＳ Ｐ明朝", MS PMincho, serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
  }
  .test .video-text .section02-text .inner .img-area .img {
    background: #f8f0e3;
  }
  .test .video-text .section02-text .inner .about p {
    font-size: 1em;
    line-height: 2em;
  }
  .test #videoBG {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}
@media screen and (max-width: 424px) {
  .video .video-text .inner h3 {
    font-size: 1.2em;
  }
  .video .video-text .inner p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 375px) {
  .video .video-text .inner h3 {
    font-size: 1em;
  }
  .video .video-text .inner p {
    font-size: 0.9em;
    font-weight: bold;
  }
  .video .video-text .inner a {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=index.css.map */
